<ul id="navigation-bar">
    <li><a href="/edit">profile</a></li>
    <li><a href="/petition">signature</a></li>
    <li><a href="/signers">signers</a> </li>
    <li><a href="/logout">logout</a></li>
</ul>

<div class="container-petition">
    <h1>leave things as they are</h1>
    <h2>sign below*</h2>
    <form method="POST" id="petition">
        {{! <input
        type="text"
        id="firstname"
        placeholder="First name"
        name="firstname"
    />
    <input type="text" id="lastname" placeholder="Last name" name="lastname" /> }}
        <input type="hidden" name="signature" id="signature" />
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <canvas id="signature-field"></canvas>
        <button id="submit">submit</button>
    </form>
    <h3>*this is probably the only chance in your life not to change anything
        with your signature</h3>
    <script src="/script.js"></script>
</div>