<form method="POST">
    <input
        type="text"
        id="firstname"
        placeholder="First name"
        name="firstname"
    />
    <input type="text" id="lastname" placeholder="Last name" name="lastname" />
    <input
        type="hidden"
        width="200"
        height="100"
        name="signature"
        id="signature"
    />
    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    <canvas id="signature-field" width="200" height="100"></canvas>
    <button id="submit">Submit</button>
</form>
<script src="/script.js"></script>