<div class="container-profile">

    <h1>tell us a little bit more about yourself if you like</h1>

    <form method="POST">
        <label for="age"> age </label>
        <input type="text" id="age" name="age" />
        <label for="city"> city</label>
        <input type="text" id="city" name="city" />
        <label for="website"> website</label>
        <input type="text" name="website" id="website" />
        <button id="continue"> continue</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    </form>

</div>