<div class="container-registration">

    <h1 id="registration_heading">This petition does not change anything. Sign
        if you're cool with it.</h1>

    <p>Please register first or
        <a href="/login">login</a>
        instead</p>

    <form method="POST" id="registration">
        <label for="firstname"> first name</label>
        <input
            type="text"
            id="firstname"
            name="firstname"
            class="registration_fields"
        />
        <label for="lastname"> last name</label>
        <input
            type="text"
            id="lastname"
            name="lastname"
            class="registration_fields"
        />
        <label for="email"> email address</label>
        <input
            type="text"
            name="email"
            id="email"
            class="registration_fields"
        />
        <label for="password"> password</label>
        <input
            type="password"
            name="password"
            id="password"
            class="registration_fields"
        />
        <button id="register">register</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />

        {{#if errorMsg}}
            <p id="errorMsg">{{errorMsg}}</p>
        {{/if}}

        {{#if errUniq}}
            <p id="errorMsg">{{errUniq}}</p>
        {{/if}}

    </form>

</div>