* {
    background-color: white (252, 246, 237);
    font-family: "Courier New", Courier, monospace;
}

/* h1 {
    border: 5px solid black;
} */

/* body {
    display: flex;
} */

.container-registration p {
    margin-left: 37%;
}

.container-registration #errorMsg {
    margin-left: 0%;
    color: red;
    font-size: 20px;
}

.container-registration a {
    background-color: black;
    color: white;
}

#registration {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#registration_heading {
    font-size: 20px;
    font-weight: bold;
    margin-left: 23%;
    margin-top: 13%;
}

.registration_fields {
    position: relative;
    width: 20%;
    margin-top: 0px;
    border-radius: 15%;
}

#register {
    background-color: black;
    margin-top: 10px;
    color: white;
}

.container-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.container-login a {
    background-color: black;
    color: white;
}

.container-login p {
    margin-top: -1%;
}

#login-error {
    margin-top: 2%;
    color: red;
    font-size: 20px;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login {
    background-color: black;
    margin-top: 10px;
    color: white;
}

.login-fields {
    border-radius: 15%;
    margin-top: 1%;
}

.container-petition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.container-petition h1 {
    font-size: 20px;
}

.container-petition h2 {
    margin-top: -2px;
    font-size: 18px;
}

#petition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 3px solid black;
    max-width: 400px;
    max-height: 200px;
}

#submit {
    margin-top: 3%;
}

button {
    transition: transform 0.5s;
    -webkit-transition: background-color 2s ease-out;
    -moz-transition: background-color 2s ease-out;
    -o-transition: background-color 2s ease-out;
    transition: background-color 2s ease-out;
}

button:hover {
    transform: scale(1.1);
    background-color: white;
}
